<div id="welcome">
  <div class="title">
    <h2>FIFA World Cup - Simulator</h2>
    <span class="byline">Aproveite para fazer suas apostas!</span>
  </div>

  <div class="9u skel-cell-important">
    <section>
      <header>
        <h2>{{$ctrl.temporada.nome}} - {{$ctrl.fase}}</h2>
        <span class="byline">Escolha os resultados baseados em seus conhecimentos no futebol. Boa Sorte !!</span>
      </header>
      <p>
      <br>

      <div style="font-size:24px">
        <form ng-repeat="partida in $ctrl.partidas track by $index" style="border:1px solid">
          <div>
            <p>{{partida.primeiraSelecao}}</p>
             <INPUT ng-model="partida.resultado" ng-change="$ctrl.apostaTime(partida.resultado, $index)"  TYPE="RADIO" ng-value="partida.primeiraSelecao"> Vence time A
            </div>
          <div>
            <p>X</p>
          </div>
          <div>
            <p>{{partida.segundaSelecao}}</p>
            <INPUT ng-model="partida.resultado" ng-change="$ctrl.apostaTime(partida.resultado, $index)" TYPE="RADIO" ng-value="partida.segundaSelecao"> Vence time B
            </div>
        </form> 
      </div>
      <br>
      </p>
      <button style="font-size:24px" type="button" ng-click="$ctrl.efetuarAposta()" >Submit</button>
    </section>
  </div>

  <p><br><br>Este site foi desenvolvido exclusivamente para a disciplina de Projeto Integrado F da PUC-Campinas, SP.</p>
  <ul class="actions">
    <li><a href="#" class="button">Etiam posuere</a></li>
  </ul>
</div>