<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GK2V Bet</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="../css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/fonts.css" rel="stylesheet" type="text/css" media="all" />


<div id="page" class="container">
	<div id="header">
		<div id="logo">
			<img src="../images/pic02.jpg" alt="" />
			<h1><a href="#">Vinicius Maggi</a></h1>
			<span>Design by GK2V Team</span>
		</div>
		<div id="menu">
			<ul>
				<li ng-click="$ctrl.irPara('home')"><a accesskey="1" title="">Homepage</a></li>
				<li ng-click="$ctrl.irPara('temporadas')" class="current_page_item"><a accesskey="2" title="">Temporadas</a></li>
				<li ng-click="$ctrl.irPara('apostas')" ><a  accesskey="3" title="" >Minhas apostas</a></li>
				<li ng-click="$ctrl.irPara('perfil')" ><a  accesskey="4" title="" >Meu perfil</a></li>
				<li ng-click="$ctrl.irPara('contato')" ><a  accesskey="5" title="" >Contact Us</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="banner">
			<img src="../images/pic01.jpg" alt="" class="image-full" />
		</div>
		<aposta-partida ng-if="$ctrl.apostas"></aposta-partida>
		<home-app ng-if="$ctrl.home"></home-app>
		<user-app ng-if="$ctrl.perfil"></user-app>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
