<div id="welcome">
    <div class="title">
        <h2>FIFA World Cup - Quiz</h2>
        <span class="byline">Testes seus conhecimentos de Copas do Mundo!</span>
    </div>
    <div class="9u skel-cell-important">
        <section>
            <header>
                <h2>{{$ctrl.pergunta.enunciado}}</h2>
                <span class="byline">Escolha uma opção:</span>
            </header>
            <p>
                <br>
                <table style="font-size:24px">
                    <form>
                        <tr>
                            <th></th>
                            <th>
                                <INPUT ng-model="$ctrl.respostaUser" ng-change="$ctrl.escolherResposta($ctrl.pergunta.resp1)" TYPE="RADIO" ng-value="$ctrl.pergunta.resp1">
                            </th>
                            <th>{{$ctrl.pergunta.resp1}}</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <INPUT ng-model="$ctrl.respostaUser" ng-change="$ctrl.escolherResposta($ctrl.pergunta.resp2)" TYPE="RADIO" ng-value="$ctrl.pergunta.resp2">
                            </th>
                            <th>{{$ctrl.pergunta.resp2}}</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <INPUT ng-model="$ctrl.respostaUser" ng-change="$ctrl.escolherResposta($ctrl.pergunta.resp3)" TYPE="RADIO" ng-value="$ctrl.pergunta.resp3">
                            </th>
                            <th>{{$ctrl.pergunta.resp3}}</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <INPUT ng-model="$ctrl.respostaUser" ng-change="$ctrl.escolherResposta($ctrl.pergunta.resp4)" TYPE="RADIO" ng-value="$ctrl.pergunta.resp4">
                            </th>
                            <th>{{$ctrl.pergunta.resp4}}</th>
                        </tr>
                    </form>
                </table>
                <br>
            </p>
            <button style="font-size:24px" ng-click="$ctrl.responder()">Submit</button>
        </section>
    </div>
    <p><br><br>Este site foi desenvolvido exclusivamente para a disciplina de Projeto Integrado F da PUC-Campinas, SP.</p>
    <ul class="actions">
        <li><a href="#" class="button">Etiam posuere</a></li>
    </ul>
</div>